.App {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: rgb(34, 30, 30);
  height: 900px;
  font-size:24px;
  color: #141313;
  
}

.wrapper {
  padding: .8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 100vh;
  height: 50vh;

}

#entrada {
  width: 50%;
  margin: 0 auto;
}

.App-link {
  color: #fb617b;
}
button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: rgba(51, 255, 0, 0.726);
  

}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fb617b;
  transform-origin: center bottom;
  transform: scaleY(0);
  transition: transform 0.25s ease-in-out;
  
}

button:hover {
  cursor: pointer;
}

button:hover::before {
  transform-origin: center top;
  transform: scaleY(1);
}
.form-control{
  text-align: center;
  min-width:930px;
  background-color: #fb617b;
  

}
.input-group{
  min-width: 100px;
  text-align: center;
 
  
}
